:root {
  --main-transition: 0.3s;
}
body {
  overflow: hidden;
}
input:focus,
textarea:focus {
  outline: none;
}
.page-container {
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}
/* Small */
@media (min-width: 768px) {
  .page-container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .page-container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .page-container {
    width: 1170px;
  }
}

/* work */
header {
  height: 80px;
  /* position: fixed; */
}
header .page-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
header .logo {
  font-size: 35px;
  display: flex;
}
header .logo i {
  margin-right: 10px;
}
header .logo span {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
header .list {
  flex: 1;
  margin-left: 40px;
  margin-right: 30px;
}
header .list .yalahwy {
  width: fit-content;
}

header .list .yalahwy ul li {
  padding: 5px 10px 0px 5px;
  font-size: 20px;
  text-transform: capitalize;
  transition: var(--main-transition);
}
/* active */
header .list ul.active {
  display: flex;
  flex-direction: column;
}
header .list .yalahwy .burger {
  width: 40px;
  height: 100%;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 992px) {
  header .list .yalahwy .burger {
    display: flex;
    width: 40px;
    height: 100%;
    font-size: 25px;
    justify-content: center;
    align-items: center;
  }
  header .list ul {
    display: none;
    position: absolute;

    gap: 0;
    top: calc(100% + 10px);
    left: calc(100% - 30px);
  }
}
header .account .bell {
  width: 40px;
  height: 100%;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.pfp {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pfp img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  max-width: 100%;
}
