@import url("https://fonts.googleapis.com/css2?family=Basic&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --main-transition: 0.3s;
}
body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}
input:focus,
textarea:focus {
  outline: none;
}
.page-container {
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}
/* Small */
@media (min-width: 768px) {
  .page-container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .page-container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .page-container {
    width: 1170px;
  }
}

/* work */
header {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: beige;
}
header .page-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
header .logo {
  font-size: 35px;
  display: flex;
}
header .logo i {
  margin-right: 10px;
}
header .logo span {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
header .list {
  flex: 1;
  margin-left: 40px;
  margin-right: 30px;
}
header .list .yalahwy {
  width: fit-content;
}

header .list .yalahwy ul li {
  padding: 5px 10px 0px 5px;
  font-size: 20px;
  text-transform: capitalize;
  transition: var(--main-transition);
  cursor: pointer;
}
/* active */
header .list ul.active {
  display: flex;
  flex-direction: column;
}
header .list .yalahwy .burger {
  width: 40px;
  height: 100%;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 992px) {
  header .list .yalahwy .burger {
    display: flex;
    width: 40px;
    height: 100%;
    font-size: 25px;
    justify-content: center;
    align-items: center;
  }
  header .list ul {
    display: none;
    position: absolute;
    gap: 0;
    top: calc(100% + 10px);
    left: calc(100% - 30px);
  }
  header .list ul li:hover {
    transform: translatex(10px);
  }
}
header .account .bell {
  width: 40px;
  height: 100%;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.pfp {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pfp img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  max-width: 100%;
}

/* main pages */
.main_page {
  min-height: 100vh;
  margin-top: 80px;
  background-color: #f3f1f1;
}
.dashboard_main .hero_section {
  z-index: 1;
  position: relative;
  height: calc(100vh - 80px);
  background-image: url(../imgs/background.jpg);
}
.dashboard_main .hero_section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgb(19 17 17 / 50%);
}
.dashboard_main .hero_section .page-container {
  position: relative;
  top: 20%;
  z-index: 3;
}
.dashboard_main .hero_section h1 {
  font-size: 60px;
  margin: 0;
  max-width: 600px;
  line-height: 1;
  text-transform: capitalize;
  color: white;
}
.dashboard_main .hero_section p {
  font-size: 20px;
  max-width: 700px;
  margin: 20px 0 10px;
  line-height: 1.2;
  color: grey;
}
.dashboard_main .hero_section .hero_buttons {
  display: flex;
  gap: 20px;
}
.dashboard_main .hero_buttons a button {
  padding: 12px 10px;
  border-radius: 25px;
  border: none;
  font-size: 17px;
  cursor: pointer;
}
/* order page */
.order_main h2 {
  font-size: 40px;
  margin: 40px 0 10px;
}
.order_main p {
  font-size: 17px;
  max-width: 900px;
}
.order_main form {
  background-color: white;
  max-width: 400px;
  margin-top: 25px;
  padding: 20px;
}
.order_main form input[type="text"],
.order_main form input[type="number"] {
  margin-bottom: 30px;
  padding: 10px 5px;
  font-size: 18px;
  width: 300px;
  max-width: 100%;
  border: 1px solid #ddd;
  outline: none;
  width: 100%;
}
.order_main form label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}
.service-choices {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.order_main form input[type="radio"] {
  display: none;
}
.order_main form input[type="radio"]:checked + label {
  background-color: beige;
  border-color: transparent;
}
.order_main form label.radio {
  width: fit-content;
  border: 1px solid black;
  padding: 20px 10px;
  border-radius: 10px;
  font-size: 18px;
}
.order_main form label.radio:hover {
  background-color: beige;
  border-color: transparent;
}
.order_main form h3 {
  margin: 0 0 15px;
  font-size: 22px;
}
.order_main input[type="submit"] {
  width: 100%;
  padding: 10px 5px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 25px;
}
