.orders_main.main_page {
  padding: 20px 40px;
}
.orders_main .head {
  margin-bottom: 10px;
}
.orders_main .head p:first-child {
  font-size: 16px;
}
.orders_main .head h2 {
  font-size: 32px;
  margin: 10px 0 5px;
}
.orders_main .head p:last-child {
  font-size: 16px;
}
.chosen_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 10px;
}
.chosen_buttons button {
  padding: 10px 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.chosen_buttons button:first-child {
  background-color: #00c853;
  color: white;
}
.chosen_buttons button:last-child {
  background-color: #ffffff;
  color: #101828;
}
.chosen_buttons button i {
  margin-right: 5px;
  font-size: 13px;
}

.search_box {
  background-color: white;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  border: 1px solid #eee;
}
@media (max-width: 991px) {
  .search_box {
    flex-direction: column-reverse;
  }
}
.search_box .search_input .search {
  position: relative;
  margin-bottom: 15px;
}
.search_box .search_input .search::before {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 10px;
  width: 30px;
}
.search_box .search_input {
  flex-basis: 40%;
}
@media (max-width: 991px) {
  .search_box .search_input {
    margin: auto;
  }
}
.search_box .search_input input {
  width: 100%;
  border-radius: 6px;
  padding: 10px 12px 10px 40px;
  max-width: 100%;
}
.search_box .search_input input,
.search_box .other_search_boxs div {
  border: 2px solid #eee;
  background-color: #f0f0f0;
}
.search_box .search_input input::placeholder {
  font-size: 18px;
}
@media (max-width: 550px) {
  .search_box .search_input input::placeholder {
    font-size: 12px;
  }
}
.search_box .info.between-flex {
  gap: 5px;
  flex-wrap: wrap;
}
.search_box .info.between-flex div {
  background-color: bisque;
  padding: 5px 10px;
  border-radius: 20px;
}
.search_box .other_search_boxs {
  width: 100%;
  flex-basis: 60%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 550px) {
  .search_box .other_search_boxs {
    display: none;
  }
}
.search_box .other_search_boxs div {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px 12px;
  margin-bottom: 10px;
  font-size: 17px;
}
.search_box .other_search_boxs div:not(:last-child) {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.search_box .other_search_boxs div i {
  cursor: pointer;
}
.search_box .other_search_boxs div:not(:last-child) i {
  display: block;
  /* margin-left: 60px; */
}

/* table */
.customers_table table {
  background-color: white;
  margin-top: 30px;
  border-radius: 10px;
  border: 2px solid #ccc;
  width: 100%;
  text-align: left;
  border-spacing: 0px;
  overflow: hidden;
}
.customers_table table thead {
  background-color: #f9fafb;
  border-bottom: 1px solid #eaecf0;
}
.customers_table table thead th {
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 600;
  color: #667085;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.customers_table table tbody tr {
  border-bottom: 1px solid #eaecf0;
}

.customers_table table tbody tr:last-child {
  border-bottom: none;
}

.customers_table table tbody tr td {
  padding: 16px;
  font-size: 14px;
  font-weight: 300;
  color: #101828;
  vertical-align: middle;
}
.customers_table table td div.style_box.queued {
  background-color: orange;
  padding: 5px;
  border-radius: 35px;
  width: 70%;
}
.customers_table table td.view_link {
  cursor: pointer;
  color: green;
}
