.queue_main.main_page {
  padding: 20px 40px;
}
.queue_main .head {
  margin-bottom: 10px;
}
.queue_main .head p:first-child {
  font-size: 16px;
}
.queue_main .head h2 {
  font-size: 40px;
  margin: 10px 0 5px;
}
.queue_main .head p:last-child {
  font-size: 16px;
}
.chosen_buttons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 10px;
}
.chosen_buttons button {
  padding: 10px 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.chosen_buttons button:first-child {
  background-color: #ffffff;
  color: brown;
}
.chosen_buttons button:last-child {
  background-color: #00c853;
  color: white;
}
.chosen_buttons button i {
  margin-right: 5px;
  font-size: 10px;
}

.cards_3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  height: auto;
}
@media (max-width: 767px) {
  .cards_3 {
    grid-template-columns: minmax(250px, 1fr);
  }
}
.cards_3 .card {
  background-color: white;
  border-radius: 10px;
  border: 2px solid #ccc;
  padding: 15px;
}
.cards_3 .card .stat {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 5px;
}
.cards_3 .card:first-child .stat {
  background-color: coral;
}
.cards_3 .card:nth-child(2) .stat {
  background-color: rgb(173 255 47 / 50%);
}
.cards_3 .card:last-child .stat {
  background-color: rgb(100 149 237 / 64%);
}
.cards_3 .card .box {
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.cards_3 .card .box > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cards_3 .card .box .info {
  gap: 40px;
}
.cards_3 .card .box .info .name {
  display: flex;
  align-items: flex-start;
}
.cards_3 .card .box .info i {
  margin-right: 10px;
  font-size: 8px;
}
.cards_3 .card .box .info h5 {
  margin-bottom: 5px;
  font-size: 16px;
}
.cards_3 .card .box .info .name p {
  font-size: 14px;
  color: #ddd;
}
.cards_3 .card .box .icon {
  align-items: flex-end;
}
.cards_3 .card .box .icon div {
  border-radius: 25px;
  padding: 5px 8px;
  background-color: beige;
}
.drop_orders {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 25px 10px;
  margin-top: 20px;
  text-align: center;
  color: darkgray;
}

.other_cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.other_cards > div {
  border: 2px solid #ccc;
  border-radius: 10px;
  flex: 1;
  padding: 20px;
}
.other_cards > div .orders hr {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.other_cards > div .info span {
  display: block;
}
.other_cards > div .info span:first-child {
  font-weight: 500;
}
.other_cards > div .order .state {
  font-size: 12px;
  background-color: burlywood;
  padding: 5px 8px;
  border-radius: 25px;
}
